<section class="oe_container oe_dark lead" style="padding-top:50px;">
    <!--				main heading /title-->
    <h3>
        <font>
            <p class="text-primary text-center" style="color:#004460;"><b>Import Invoice From Excel And CSV File</b>
        </font>
    </h3>
    <div class="oe_row">
        <div class="oe_span12">
            <div class="panel panel-primary" id="wkid0" style="border-color:#00cc99;">

                <!--												first block main heading-->
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size: 20px;">
                        <b> Virzoteck Software and Solutions(virzoteck@gmail.com)</b>
                    </h2>
                    <h3  style="font-size: 20px;"> This Module help to import bulk invoice together,which multiple product lines
    Do you want to import bulk invoices together ? Which has multiple product lines ?

Using this module you can easily do that with single click. Excel file from your supplier no need to enter them manually on odoo, you can easily import them on Odoo.

This module helps you to import customer and  invoices both with very easy excel/csv format . Additionally we provide option to choose existing odoo invoice number or import invoice number from excel file which you can select.
                    </h3>
                </div>
                <div class="panel-body">
                    <!--									first block sub heading 1-->
                    <div class="alert alert-info"
                         style="padding:8px;font-weight: 300; font-size: 20px;background-color:#1ab2ff;">
                        <i class="fa fa-arrow-circle-o-right" style="color:white;"></i>
                        <b style="color:white;"> Features </b>
                    </div>
                    <!--						first block sub contain 2-->
                    <ul class="list-unstyled ">
                        <li><i class="fa fa-hand-o-right text-primary"></i>Easily import customer and supplier invoice(vendor bills) Excel or CSV File.</li>
                        <li><i class="fa fa-hand-o-right text-primary"></i>Quickly import bulk invoices in one go using Excel or CSV File Excel or CSV File.</li>
                        <li><i class="fa fa-hand-o-right text-primary"></i>Add invoice lines as row on data file.</li>
                        <li><i class="fa fa-hand-o-right text-primary"></i>When invoice number is same it will import invoice line on same invoice.</b></li>
                        <li><i class="fa fa-hand-o-right text-primary"></i>Allow to add different currency of invoices in single import.</li>
                        <li><i class="fa fa-hand-o-right text-primary"></i>Allow to add different saleperson of invoices in single import(in short which sales person you add on data file on row will link with imported invoices).</li>
                        <li><i class="fa fa-hand-o-right text-primary"></i>You can add all different data on your data file for import i.e Customer/Supplier,Currency, Date, Product, Quantity, Price, Description and salesperson.</li>
                        <li><i class="fa fa-hand-o-right text-primary"></i>Easy Warning</li>
                        <li><i class="fa fa-hand-o-right text-primary"></i>This import will create draft invoices after that you have option to confirm draft invoice in bulk, so If you want to validate imported invoice you can do it easily with "Confirm Draft invoice" button.</li>
                        <li><i class="fa fa-hand-o-right text-primary"></i>Allow to add multiple customer and supplier invoice by import Excel or Csv file.</li>                        
                        <li><i class="fa fa-hand-o-right text-primary"></i>Quickly add bulk account in one go using Excel or Csv file</li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
            <div class="oe_row oe_spaced">
        <h2  class="text-primary text-center"  style="color:#004460;"><b>Demo Link</b></h2>                
        <h3  class="text-primary text-center"  style="color:#004460;"><b><a href="https://youtu.be/NoWieLd8yRA">https://youtu.be/NoWieLd8yRA</a></b></h3>          
 </div
    <div class="oe_row oe_spaced">
        <h3  class="text-primary text-center"  style="color:#004460;"><b>Given below is the sample of import file for "Use Account from Excel,csv file must be comma seprated".</b></h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="5.png">
        </div>
        <h3  class="text-primary text-left"  style="color:#004460;margin-left:50px;"><b>sample of import file for "Use Account From Configuration product/Property".</b></h3>
        <h3  class="text-primary text-left"  style="color:#004460;margin-left:50px;"><b>The "INVOICE ID" should be same, as you can see in the image,"INVOICE ID" is same for different product list.This defines single invoice with different product lines.</b></h3>
        <h3  class="text-primary text-left"  style="color:#004460;margin-left:50px;"><b>Tax column is important you have to add "Tax column" though there is no need of adding tax.</b></h3>
        <h3  class="text-primary text-left"  style="color:#004460;margin-left:50px;"><b>1. When code is selected in Import option, please select file that contains code of products.</b></h3>
        <h3 class="text-primary text-left"  style="color:#004460;margin-left:50px;"><b>2. When barcode is selected in Import option, please select file that contains barcode of products.</b></h3>
        <h3  class="text-primary text-left"  style="color:#004460;margin-left:50px;"><b>3. When Name is selected in Import option, please select file that contains name of products.</b></h3>

    </div>
    <div class="oe_row oe_spaced">
        <h3 class="text-primary text-center"  style="color:#004460;"><b>The menu for importing data of Invoices</b></h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="2.png">
        </div>
    </div>
      <div class="oe_row oe_spaced">
          <h3 class="text-primary text-center"  style="color:#004460;"><u><b>1. Sequence Option:</u></b></h3>
        <h3 class="text-primary text-left"  style="color:#004460;"><b>If you want to import details of invoice number from CSV/XLS you can also have option regarding this in import invoice wizard.
If you select "Use Excel/CSV Sequence Number" option then name field will came from CSV/XLS file.</b></h3>
          <h3 class="text-primary text-left"  style="color:#004460;"><u><b>2. Invoice Stage Option:</b></u></h3>
        <h3 class="text-primary text-left"  style="color:#004460;"><b>If you select "Import Draft Invoice" option then invoice will be import in draft stage.
If you select "Validate Invoice Automatically With Import" option then invoice will be import in validate/Open stage.</b></h3>
          <h3 class="text-primary text-left"  style="color:#004460;"><u><b>3. Account Option :</b></u></h3>
        <h3 class="text-primary text-left"  style="color:#004460;"><b>If you want to import Account from XLS/CSV so you have option for "Account Option" regarding this in import invoice wizard.</b></h3>
          <h3 class="text-primary text-left"  style="color:#004460;"><u><b>4. Type :</b></u></h3>
          <h3 class="text-primary text-left"  style="color:#004460;"><b>You have also option for import invoice for Customer or Vendors.</b></h3>
          <h3 class="text-primary text-left"  style="color:#004460;"><u><b>5. Import Product By :</b></u></h3>
          <h3 class="text-primary text-left"  style="color:#004460;"><b>You have also option to import products by it's Name/ Barcode or Code(Internal Reference).
If you want to create product while importing sale order then you have must select import with "Name".</b></h3>
          
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="1.png">
        </div>
                    <h1 class="text-primary text-center"  style="color:#004460;"><b>
After importing CSV/XLS with "Validate Invoice Automatically with" option then you can see the invoice is in open stage and invoice number is same as we given in CSV/XLS file with option"Use Excel/CSV Sequence CSV Number".</b></h1>

        <div class="oe_demo oe_picture oe_screenshot">
            <img src="4.png">
        </div>
    </div>
 
                    <h1 class="text-primary text-center"  style="color:#004460;"><b>
List of Invoices After importing CSV/XLS<div class="oe_demo oe_picture oe_screenshot">
            <img src="12.png">
        </div>
 



</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3  class="text-primary text-center"  style="color:#004460;">Have questions or did you get bug in this app? or need additional functionality?</h3>
        <h3  class="text-primary text-center"  style="color:#004460;">Contact via email:</h3>
        <h3  class="text-primary text-center"  style="color:#004460;">virzoteck@gmail.com</h3>
    </div>
</section>

</section>
